*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0 0 1rem;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #2B2A2C;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-center {
  text-align: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border: 1px solid #6A696B;
  padding: 1.05em 1.7em;
  min-width: 11.34rem;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  color: #2B2A2C;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #2B2A2C;
  color: #fff;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-color: #2B2A2C;
}

.btn + .btn {
  margin-left: 1rem;
}

.btn--sm {
  min-width: 0;
  padding: .7em 1.2em;
  font-size: 0.94rem;
  font-weight: 700;
  border-width: 2px;
}

.btn--sm:hover {
  border: 2px solid #2B2A2C;
}

.header {
  padding-top: 1.2rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner .user__avatar {
  width: 3.8rem;
  height: 3.8rem;
  background: #fff url(../img/masta.jpg) center center no-repeat;
  background-size: cover;
}

.header__inner .user__avatar img {
  border-radius: 50%;
}

.header__inner .user__content {
  padding-left: 0.6rem;
}

.header__inner .user__content .user__name {
  font-size: 1.06rem;
  line-height: 1.2;
  font-weight: 700;
  color: #2B2A2C;
}

.header__inner .user__content .user__prof {
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
  margin-top: 3px;
}

.header__inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__inner .nav__link {
  position: relative;
  margin-left: 2rem;
  font-size: 0.93rem;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-radius: 1.33rem;
}

.header__inner .nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #2B2A2C;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
}

.header__inner .nav__link:hover:not(.nav__link-btn):after {
  width: 100%;
}

.header__inner .nav__link-btn {
  padding: 0.66rem 2rem;
  border: 2px solid #2B2A2C;
  border-radius: 1.33rem;
  -webkit-transition: background-color .3s linear, color .3s linear;
  transition: background-color .3s linear, color .3s linear;
}

.header__inner .nav__link-btn:hover {
  background-color: #2B2A2C;
  color: #fff;
}

.main {
  padding-top: 7rem;
}

.main__inner {
  padding-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
  position: relative;
}

.main__content {
  width: 50%;
}

.main__content .main__subtitle {
  font-size: 2.13rem;
  font-weight: 200;
  color: #2B2A2C;
}

.main__content .main__title {
  margin-bottom: .3rem;
  font-size: 3rem;
  font-weight: 700;
  color: #2B2A2C;
}

.main__content .main__text {
  margin-bottom: 1.66rem;
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7);
}

.main__content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.8rem;
}

.main__content .social__link {
  margin-right: 0.66rem;
  text-decoration: none;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.main__content .social__link:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.main__photo {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.works {
  padding: 2.65rem 0;
}

.works__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.4rem;
}

.works__nav-link {
  margin: 0 1.2rem;
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
  text-decoration: none;
}

.works__nav-link:hover {
  text-decoration: underline;
}

.works .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem;
  margin-bottom: 2.8rem;
}

.works .portfolio__col {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  padding: 1rem;
}

.works .portfolio__col .work {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px #2b2a2c;
          box-shadow: 0 0 4px #2b2a2c;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.works .portfolio__col .work:hover {
  -webkit-box-shadow: 0 0 14px #2b2a2c;
          box-shadow: 0 0 14px #2b2a2c;
}

.works .portfolio__col .work__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.works .portfolio__col .work__content {
  padding: 1rem 0.8rem;
  color: #2B2A2C;
  text-transform: uppercase;
}

.works .portfolio__col .work__content .work__cat {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.works .portfolio__col .work__content .work__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.06rem;
  font-weight: 700;
}

.about {
  padding-top: 3.45rem;
  padding-bottom: 7rem;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1090px;
}

.about__inner .about__photo img {
  margin-left: 2rem;
}

.about__inner .about__content {
  margin-top: 2rem;
  padding-left: 3.2rem;
}

.about__inner .about__photo,
.about__inner .about__content {
  width: 50%;
}

.about__inner .about__photo-title,
.about__inner .about__content-title {
  font-size: 3rem;
  font-weight: 700;
  color: #2B2A2C;
  text-transform: uppercase;
}

.about__inner .about__photo-bigtitle,
.about__inner .about__content-bigtitle {
  font-size: 6rem;
  font-weight: 700;
  position: relative;
  left: -10px;
  color: rgba(43, 42, 44, 0.15);
  line-height: 1.1;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}

.about__inner .about__photo-text,
.about__inner .about__content-text {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 2.8rem;
  line-height: 2;
  color: #8D8D8E;
}

.reviews {
  padding: 4.6rem 0;
  background: #332F30 url("../img/obiektWektorowy.png") center no-repeat;
  position: relative;
}

.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}

.reviews__item .reviews__text {
  font-size: 0.94rem;
  line-height: 2.2;
  color: #fff;
  text-align: center;
}

.reviews__item .reviews__author {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -51px;
  text-align: center;
}

.reviews__item .reviews__author-photo {
  width: 103px;
  height: 103px;
  display: block;
  margin: 0 auto .6rem;
  border-radius: 50%;
  border: 4px solid #EFEFEF;
}

.reviews__item .reviews__author-name {
  margin-bottom: 0.3rem;
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: 700;
}

.reviews__item .reviews__author-company {
  margin-bottom: 0.4rem;
  font-size: 0.94rem;
  font-weight: 300;
  font-style: italic;
  color: #6A696B;
}

.reviews__item .reviews__author-rating .rating__star {
  width: 13px;
  height: 13px;
}

.reviews__item .reviews__author-rating .rating__star--unactive {
  opacity: .4;
}

.news {
  margin-top: 10rem;
  margin-bottom: 4rem;
  padding: 4.6rem 0;
}

.news__header {
  margin-bottom: 3.6rem;
  text-align: center;
}

.news__header .news__title {
  margin-bottom: .3rem;
  font-size: 3rem;
  font-weight: 700;
  color: #2B2A2C;
  text-transform: uppercase;
}

.news__header .news__text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #8D8D8E;
}

.news .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem;
}

.news .articles__col {
  width: 33.33333%;
  padding: 0 1rem;
}

.news .articles__col .articles__item {
  margin-bottom: 2rem;
}

.news .articles__col .articles__header {
  position: relative;
  margin-bottom: 1.35rem;
}

.news .articles__col .articles__header .articles__date {
  width: 77px;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2B2A2C;
  color: #fff;
  font-size: 1.06rem;
  text-align: center;
  line-height: 1.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.news .articles__col .articles__content {
  margin-bottom: 2rem;
}

.news .articles__col .articles__content .articles__title {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2B2A2C;
}

.news .articles__col .articles__content .articles__title a {
  color: inherit;
  text-decoration: none;
}

.news .articles__col .articles__content .articles__title a:hover {
  text-decoration: underline;
}

.news .articles__col .articles__content .articles__cat {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #2B2A2C;
}

.news .articles__col .articles__content .articles__text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2;
  color: #6A696B;
}

.news .news__footer {
  text-align: right;
}

.news .news__footer-link {
  font-size: 0.94rem;
  color: #6A696B;
}

.news .news__footer-link:hover {
  text-decoration: none;
}

.footer {
  padding: 1rem 0;
  background-color: #2B2A2C;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner .footer__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner .footer__credits .footer__copyright {
  padding-right: 0.8rem;
  margin-right: 1rem;
  font-size: 0.94rem;
  color: #BBBBCC;
  border-right: 1px solid #6a696b;
}

.footer__inner .footer__credits .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner .footer__credits .footer__social a {
  margin-right: 1.2rem;
  text-decoration: none;
}

.footer__inner .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.94rem;
}

.footer__inner .footer__nav-link {
  margin-left: 1.5rem;
  color: #BBBBCC;
  text-decoration: none;
}

.footer__inner .footer__nav-link:hover {
  text-decoration: underline;
}

.footer__inner .footer__nav-link--btn {
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  border: 1px solid #6A696B;
  line-height: 1.1;
}

.footer__inner .footer__nav-link--btn:hover {
  text-decoration: none;
  background-color: #BBBBCC;
  border-color: #BBBBCC;
  color: #2B2A2C;
}

.modal {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  background-color: rgba(6, 15, 49, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal__dialog {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  background-color: #fff;
}

.modal__dialog .modal__close {
  width: 34px;
  height: 39px;
  padding: 0;
  background: none;
  border: 0;
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.modal__dialog .modal__close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__dialog .modal-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__dialog .modal-work .modal-work__preview {
  position: relative;
  width: 65%;
  overflow: hidden;
}

.modal__dialog .modal-work .modal-work__preview .preview__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.modal__dialog .modal-work .modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
}

.modal__dialog .modal-work .modal-work__content .modal-work__header {
  margin-bottom: 2.2rem;
}

.modal__dialog .modal-work .modal-work__content .modal-work__header .modal-work__title {
  font-size: 2.12rem;
  font-weight: 700;
  color: #2B2A2C;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.modal__dialog .modal-work .modal-work__content .modal-work__header .modal-work__info {
  font-size: 1.2rem;
  color: #6A696B;
  text-transform: uppercase;
}

.modal__dialog .modal-work .modal-work__content .modal-work__header .modal-work__info .divider {
  margin: 0 1rem;
}

.modal__dialog .modal-work .modal-work__content .modal-work__client {
  margin-bottom: 2.2rem;
}

.modal__dialog .modal-work .modal-work__content .modal-work__client .client__title {
  font-size: 1.06rem;
  font-weight: 700;
  color: #2B2A2C;
  margin-bottom: 0.2rem;
}

.modal__dialog .modal-work .modal-work__content .modal-work__client .client__company {
  font-size: 0.94rem;
  font-style: italic;
  color: #6A696B;
}

.modal__dialog .modal-work .modal-work__content .modal-work__text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2;
  color: #6A696B;
  margin-bottom: 8.66rem;
}
/*# sourceMappingURL=style.css.map */