$black: #2B2A2C;
$gray: #6A696B;
$light-gray: #8D8D8E;
$bg: #0A696B;

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
   margin: 0;
}

p {
   margin: 0 0 1rem;
}

html {
   font-size: 15px;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 1rem;
   color: $black;

   &.no-scroll {
      overflow: hidden;
   }
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding-left: 1rem;
   padding-right: 1rem;
   // outline: 1px solid rgb(9, 223, 187);
}

.text-center {
   text-align: center;
}

.img {
   display: block;
   max-width: 100%;
   height: auto;
}

.btn {
   display: inline-block;
   vertical-align: top;
   padding: 0;
   border: 1px solid $gray;
   padding: 1.05em 1.7em;
   min-width: 11.34rem;
   border-radius: 1.8em;
   background: none;
   cursor: pointer;
   font-family: inherit;
   font-size: 1.06rem;
   line-height: 1.1;
   color: $black;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   transition: all .3s linear;

   &:focus {
      outline: none;
   }

   &:hover {
      background-color: $black;
      color: #fff;
      box-shadow: 5px 5px 10px rgba(#000, .3);
      border-color: $black;
   }

   +.btn {
      margin-left: 1rem;
   }

   // MADIFICATORS
   &--sm {
      min-width: 0;
      padding: .7em 1.2em;
      font-size: 0.94rem;
      font-weight: 700;
      border-width: 2px;

      &:hover {
         border: 2px solid $black;
      }
   }
}

// BLOCKS
@import "intro";
@import "main";
@import "works";
@import "about";
@import "reviews";
@import "news";
@import "footer";
@import "modal"